@import './vendor/normalize';
@import './partials/colors';
@import './partials/mixins';
@import './partials/typography';


a:hover {
    color:$secondary-color;
}
body {
    margin: 0;
    font-family: $primary-font;
    font-size: 24px;
}
footer {
    color:$light-font;
    text-decoration: none;
    background-color: $dark-background;
    font-size: 12px;
    padding: 15px 100px 30px 100px;
}
footer a {
    color:$light-font;
    text-decoration: none;
    font-size: 12px;
}
footer p {
    font-size: 12px;
}
h1 {
    margin: 0;
}
h2 {
    margin: 0;
}

li {
    float:right;
}
li a {
    display: block;
    color:$light-font;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
}
main {
    padding: 60px 0px 40px 0px;
}
nav {
    ul {
        margin: 0;
        padding: 10px 20px;
        list-style-type: none;
        overflow: hidden;
        background-color:$darker-background;
        font-family: $title;
        font-size: 14px;
    }
}
nav a {
    color: $light-font;
    text-decoration: none;
}
p {
    padding: 0px 50px;
    margin: 10px;
}

/* ~ classes below here ~ */

.about a {
    color:$secondary-color;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $primary-font;
    font-size: 14px;
}
.active {
    text-decoration-line: underline;
}
.center {
    text-align: center;
}
.discover {
    font-family: $heading;
    font-size: 48px;
    font-weight: normal;
    color:$secondary-color;
}
.left {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    padding-top: 40px;
}
.leftfoot {
    float: left;
    padding:0;
    margin: 0;
}
.right {
    display: inline-block;
    width: 45%;
}
.navleft {
    float: left;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
}
.rightfoot {
    float: right;
    padding: 0;
    margin: 0;
}
.star {
    margin: 0;
}
.story {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
    font-family: $title;
}
































// Medium screens and up
@media (min-width: 768px) {

  }
  // Big screens
  @media (min-width: 1024px) {

  }